:root {
    --transparent: rgba(255, 255, 255, 0);
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(14, 14, 16);
    --light-gray: rgb(35, 35, 35);
    --dark-green: rgb(26, 33, 17);
    --medium-green: rgb(52, 70, 30);
    --medium-green-shadow: rgb(32, 44, 18);
    --light-green: rgb(83, 113, 51);
    --light-green-shadow: rgb(64, 86, 37);
    --special-color: rgb(100, 46, 46);
    --special-color-shadow: rgb(96, 47, 47);
} 