footer {
    text-align: center;
    color: var(--light-color);
    background-color: var(--dark-green);
    border-top: 2px solid var(--medium-green);
    position: relative;
}
footer .content-container {
    padding: 15px 0px;
}
.footer-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}
.footer-left, .footer-right {
    padding: 0px 20px;
}

@media (max-width: 568px) {
    .footer-right {
        display: none;
    }
}

.footer-right {
    min-width: 140px;
    border-left: 2px solid rgb(255, 255, 255, .3);
}
footer h5, footer p {
    margin: 10px 0px;
}
footer p {
    margin-top: 20px;
    font-size: 1rem;
}
footer h5 {
    font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}
footer .fab {
    opacity: .7;
    margin-right: 5px;
    transition: all .4s ease;
    font-size: 12px;
    padding: 8px;
    width: 25px;
    height: 25px;
}
footer .fab:hover {
    opacity: 1;
    filter: brightness(1.3);
}

@media (max-width: 992px) {
    footer .content-container {
        padding: 10px 0px;
    }
    footer h5 {
        font-size: 1rem;
    }
    footer p {
        font-size: .8rem;
    }
    footer .fa-facebook-f {
        font-size: 12px;
    }
}

.f-social-media-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.f-nav {
    display: flex;
    flex-direction: column;
}
.f-nav-list {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0px;
    text-align: left;
}
.f-nav-list a {
    color: rgb(255, 255, 255, .7)
}
.f-nav-list a:hover {
    color: var(--light-color);
}
footer h6 {
    color: rgba(255, 255, 255, .8);
    font-size: .75rem;
    margin: 0;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    footer h6 {
        text-align: right;
        position: absolute;
        bottom: 15px;
        right: 50px;
        padding-bottom: 0;
    }
}