h1 {
    text-align: center;
    color: rgba(255, 255, 255, .8);
    font-size: 2rem;
    margin: 75px 0px 10px 0;
    font-family: 'Chakra Petch', sans-serif;
}

@media (min-width: 568px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }
}


.scrollIn .scroll-content {
    opacity: 0;
    transition: transform .6s ease-in-out, opacity .7s ease-in-out;
    transition-delay: .1s;
    overflow-y: hidden;
    transform: translateY(50px) scale(.97);
}
.scrollIn.visible .scroll-content {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.parallax-mirror, .parallax-slider {
    height: 100vh;
    transform: none;
    position: relative;
}

.parallax-slider[src*="./IMG_0486.jpg"] {
    filter: grayscale(100%);
}
.pricing.scrollIn .scroll-content {
    transform: translateY(50px) scale(.93);
}
.pricing.scrollIn.visible .scroll-content {
    transform: translateY(0) scale(1)
}

  /* The element to apply the animation to */
.logo-link {
    animation-name: logo-link;
    animation-duration: .4s;
}

.hero {
    background-color: transparent;
    background-position: 65% center;
    z-index: 0;
    height: 100vh;
    min-height: 100vh;
}

.hero .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.hero p {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .7);
    opacity: 1;
    transition: .6s all ease-in-out;
}
@media (max-width: 567px) {
    .hero p {
        font-size: 1rem;
    }
}

.hero.s-scrolled p {
    font-size: 0rem !important;
    opacity: 0;
}

.body-logo, .body-logo-link {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: .8;
    transition: opacity .4s cubic-bezier(0.34, 0.32, 0.58, 1), width .5s ease-in-out, max-width .5s ease-in-out;
}

@media (min-width: 768px) {
    .body-logo, .body-logo-link {
        max-width: 230px;
    }
}

.body-logo {
    max-width: 300px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.body-logo-innerTop {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.s-scrolled .body-logo, section.s-scrolled .body-logo-link {
    max-width: 0px;
    opacity: 0;
    transition: all .7s ease-in-out;
}
.body-logo:hover, .body-logo-link:hover, .body-logo:hover img {
    opacity: 1 !important;
}
.body-logo h1, .body-logo-innerBottom p {
    color: rgb(255, 255, 255, .6);
    line-height: 1;
}
.body-logo:hover h1, .body-logo-innerBottom p {
    color: rgb(255, 255, 255, .9) !important;
}
.body-logo h1:hover .body-logo{ 
    opacity: .9;
}
section.s-scrolled .body-logo h1, section.s-scrolled .body-logo-innerBottom p {
    font-size: 0em;
    opacity: 0;
    min-width: 0px;
    transition: all .7s ease-in-out;
} 
section:not(.s-scrolled) .body-logo h1 {
    font-size: 6rem;
    opacity: 1;
    transition: all .5s ease-in-out;
}
section:not(.s-scrolled) .body-logo-innerBottom p  {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 40px;
    opacity: 1;
    transition: all .5s ease-in-out;
} 
.body-logo-innerBottom p {
    text-align: center;
    min-width: 150px;
    transition: all .5s ease-in-out;
}
.content-container-inner {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .content-container-inner {
        width: 60%;
    }
}

.body-logo img {
    filter: brightness(0) invert(1);
}



/* JUMP */
.jumpFrom {
    position: absolute;
    bottom: 2%;
    font-size: 32px;
    color:rgb(255, 255, 255, .6);
}
.jumpFrom:visited, .jumpFrom:focus, .jumpFrom:active {
    color: var(--light-color);
}
#jumpTo {
    transform: translateY(-70px);
}

@media (min-width: 992px) {
    #jumpTo {
        transform: translateY(-76px);
    }
}

.jump-item {
    transform: translateY(-70px);
}

@media (min-width: 992px) {
    .jump-item {
        transform: translateY(-76px);
    }
}
.pt-cards .scroll-content {
    transition-delay: .3s;
}

.about {
    border-top: 2px solid var(--medium-green);
    text-align: center;
}
.about .content-container {
    padding-top: 100px;
}
div[data-container*="booking-container"] {
    min-height: 1000px !important;
}