* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    background-color: var(--dark-color);
    z-index: 100;
}
body {
    margin: 0px;
    padding: 0px;
    color: white;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 4rem;
    margin: 15px 0px;
}
h2 {
    font-size: 2.5rem;
    margin: 15px 0px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
p {
    font-size: 1.3rem;
    margin: 10px 0px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}

p, a, span, div, ul, ol, li, button {
    font-family: 'Outfit', sans-serif;
}
a, a:visited, .leftContent-contact a:active, .leftContent-contact a:focus {
    text-decoration: none;
    color: var(--light-color);
    transition: color .2s ease;
    outline: 0px;
}
a:hover, a:focus, a:active {
    color: var(--light-green);
}
section {
    background-color: var(--dark-color);
    display: block;
    background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    -moz-background-position: center center;
    -o-background-position: center center;
    -ms-background-position: center center;
}
.overlay {
    overflow: auto;
}


/* LOADING WINDOW */

.no-js #loader { 
    display: none; 
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.gt-btn {
    padding: 15px 35px;
    background-color: var(--light-green);
    box-shadow: 0px 5px var(--light-green-shadow);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s ease;
}
.gt-btn:hover {
    background-color: var(--dark-green);
    box-shadow: 0px 0px rgb(0, 0, 0, 0);
    transform: translateY(5px);
}
.gt-btn a {
    pointer-events: none;
    color: rgb(255, 255, 255, .9);
}
.gt-btn:hover a {
    color: rgb(255, 255, 255, .4);
}
.content-container {
    width: 95%;
    max-width: 1500px;
    padding: 40px 0px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .content-container {
        padding: 75px 0px;
    }
}

@media (min-width: 1200px) {
    .content-container {
        width: 85%;
    }
}

#section_0 {
    background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center bottom;
    -moz-background-position: center bottom;
    -o-background-position: center bottom;
    -ms-background-position: center bottom;
    width: 100%;
}
.subpage #section_0 {
    background-position: center center;
    -moz-background-position: center center;
    -o-background-position: center center;
    -ms-background-position: center center;
}
.subpage body {
    min-height: calc(100% - 305px);
}
.subpage section {
    height: auto;
}
.page-header {
    color: var(--light-color);
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}

@media (min-width: 1200px){
    .page-header {
        font-size: 5rem;
    }
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}