.member-intro {
    width: 89%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .member-intro {
        width: 60%;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    max-width: 1175px;
    margin: 0 auto;
}

.pricing-card {
    width: 90%;
    margin: 0 0 20px auto;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    border: 1px solid rgba(255, 255, 255, .1);
    border-top: 2px solid rgba(255, 255, 255, .05);
    transition: all .1s ease-in;
}

@media (min-width: 378px) {
    .pricing-card {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .grid {
        flex-direction: row;
    }
    .pricing-card {
        margin: 0 0 0 auto;
        width: 100%;
        max-width: 420px;
    }
    .fourth-grid .pricing-card {
        width: 100%;
        max-width: 475px;
    }
}

@media (min-width: 992px) {
    .pricing-card {
        width: 75%;
    }
}
.card-overlay {
    width: calc(100% - 1px);
    height: 100%;
    background: rgba(0, 0, 0, .35);
    padding: 10px 15px;
}
.pricing-card2, .pricing-card4, .pricing-card6 {
    margin: 0 auto 0 0;
}
.pricing-card8 {
    margin: 0 auto 20px 0;
}
.pricing-card1, .pricing-card1 .card-overlay, .pricing-card3, .pricing-card3 .card-overlay, .pricing-card5, .pricing-card5 .card-overlay, .pricing-card7, .pricing-card7 .card-overlay, .pricing-card9, .pricing-card9 .card-overlay {
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}
.pricing-card2, .pricing-card2 .card-overlay, .pricing-card4, .pricing-card4 .card-overlay, .pricing-card6, .pricing-card6 .card-overlay, .pricing-card8, .pricing-card8 .card-overlay {
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

@media (min-width: 768px) {
    .pricing-card8 {
        margin: 0 0 0 auto;
    }
    .pricing-card8, .pricing-card8 .card-overlay {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    .pricing-card9, .pricing-card9 .card-overlay {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px; 
    }
}

.pricing-card:hover {
    background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, 0.05));
    box-shadow: 5px 2px 25px 10px rgba(255, 255, 255, .07);
    border: 1px solid rgba(255, 255, 255, .2);
    border-top: 2px solid rgba(255, 255, 255, .3);
}
.fourth-grid p:not(.price) {
    margin: 25px 0px;
}
.card_title2 {
    font-weight: normal;
    font-size: 20px;
    margin: 20px 0px;
}

@media (min-width: 992px) {
    .card_title2 {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .card_title2 {
        font-size: 26px;
    }
}

@media (min-width: 1400px) {
    .card_title2 {
        font-size: 32px;
    }
}

.pricing h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 75px 0 50px 0;
    position: relative;
}
.pricing h3::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: $secondary-light;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 5px);
}


h3.third-membership::after {
    width: 165px;
}
h3.fourth-membership::after {
    width: 95px;
}

@media (min-width: 720px) {
    .second-line {
        display: none;
    }
} 
@media (min-width: 768px) {
    .pricing h3 { 
        font-size: 2.25rem;
    }
    .pricing h3::after {
        width: 510px;
    }
    h3.second-membership::after {
        width: 535px;
    }
    h3.third-membership::after {
        width: 210px;
    }
    h3.fourth-membership::after {
        width: 120px;
    }
    .card-overlay {
        padding: 20px;
    }
}

.price {
    font-weight: normal;
    font-size: 58px;
}

@media (min-width: 992px) {
    .price {
        font-size: 70px;
    }
}

@media (min-width: 1200px) {
    .price {
        font-size: 75px;
    }
}

hr {
    margin-top: 30px;
    width: 80%;
}

.features {
    margin: 25px 0;
    list-style-position: inside;
    padding-left: 0px;
    min-height: 90px;
}
.features-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 203px;
}
.features li {
    padding-bottom: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.golf-ball {
    filter: invert(1);
    opacity: .9;
    max-width: 30px;
    margin-right: 15px;
    user-select: none;
}
.features li span {
    font-size: 20px;
}
.features li.blank-line {
    padding-bottom: 0px;
}
.btn {
    width: 70%;
    display: inline-block;
    text-align: center;
    background-color: $secondary-light;
    box-shadow: 0px 5px $secondary-light-shadow;
    border: 0px;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 15px;
    color: $light;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 1;
    transition: all .2s ease;
}

.pricing .btn {
    width: 300px;
    margin-top: 50px;
}
.third-grid .btn {
    margin-top: 20px;
}
.btn:hover, .btn:active, .btn:focus {
    color: white;
    opacity: 1;
    background-color: $tertiary;
    box-shadow: 0px 0px transparent !important;
    transform: translateY(4px);
}





/* PRICING */

.pricing, .pricing section {
    background-color:rgba(0, 0, 0, 0);
}
.pricing .overlay {
    background-image: linear-gradient(rgba(14, 14, 16, 1), rgba(14, 14, 16, .5), rgba(14, 14, 16, .8));
}
@media (max-width: 768px) {
    .pricing {
        // background-image: url(../../img/IMG_0488.jpg);
        background-position: 35% center;
    }
    .pricing .overlay {
        background-image: linear-gradient(rgba(14, 14, 16, 1), rgba(14, 14, 16, .6), rgba(14, 14, 16, 1));
    }
}
.pricing .content-container {
    padding-bottom: 100px;
}
.pricing .content-container-inner {
    width: 100%;
}

@media (min-width: 992px){
    .pricing .content-container-inner {
        width: 90%;
    }
}


.pricing.scrollIn .scroll-content {
    transform: translateY(50px) scale(.93);
  }
  .pricing.scrollIn.visible .scroll-content {
    transform: translateY(0) scale(1)
  }