.schedule {
    height: auto !important;
    overflow: hidden;
}
.schedule .content-container {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 50px;
    max-width: 1000px;
    margin-bottom: 50px;
}
.schedule h1 {
    text-align: center;
    background-color: transparent;
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
}
.schedule .overlay {
    background-color: rgba($dark, .7);
}
@media (min-width: 684px) {
    .calendly-inline-widget {
        height: 585px !important;
    }
}
@media (min-width: 1052px) {
    .calendly-inline-widget {
        height: 650px !important;
    }
}