@import "main";
@import "./home-sections/sections.scss";

h1 {
  text-align: center;
  color: rgba($light, 0.8);
  font-size: 2rem;
  margin: 75px 0px 10px 0;
  font-family: $primary-font;

  @media ($mobile-large) {
    font-size: 3rem;
  }

  @media ($laptop) {
    font-size: 3.5rem;
  }
}

.hero {
  background-color: transparent;
  z-index: 0;
  height: 100vh;

  &.s-scrolled p {
    font-size: 0rem !important;
    opacity: 0;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.5);
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: rgba($light, 0.7);
    opacity: 1;
    transition: 0.6s all ease-in-out;

    @media ($mobile-large-max) {
      font-size: 1rem;
    }
  }
}

.body-logo,
.body-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  opacity: 0.8;
  transition: opacity 0.4s cubic-bezier(0.34, 0.32, 0.58, 1),
    width 0.5s ease-in-out, max-width 0.5s ease-in-out;

  @media ($tablet) {
    max-width: 230px;
  }
}

.body-logo-innerTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-logo img {
  filter: brightness(0) invert(1);
}

section.s-scrolled .body-logo,
section.s-scrolled .body-logo-link {
  max-width: 0px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.body-logo:hover,
.body-logo-link:hover,
.body-logo:hover img {
  opacity: 1 !important;
}

.body-logo h1,
.body-logo-innerBottom p {
  color: rgb($light, 0.6);
  line-height: 1;
}
.body-logo:hover h1,
.body-logo-innerBottom p {
  color: rgb($light, 0.9) !important;
}
.body-logo h1:hover .body-logo {
  opacity: 0.9;
}

section.s-scrolled .body-logo h1,
section.s-scrolled .body-logo-innerBottom p {
  font-size: 0em;
  opacity: 0;
  min-width: 0px;
  transition: all 0.7s ease-in-out;
}
section:not(.s-scrolled) .body-logo h1 {
  font-size: 6rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
section:not(.s-scrolled) .body-logo-innerBottom p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 40px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.body-logo-innerBottom p {
  text-align: center;
  min-width: 150px;
  transition: all 0.5s ease-in-out;
}

.content-container-inner {
  width: 90%;
  text-align: center;
  margin: 0 auto;

  @media ($laptop) {
    width: 60%;
  }
}

.about {
  border-top: 2px solid $secondary;
  text-align: center;
}
.about .content-container {
  padding-top: 100px;
}

/* JUMP */
.jumpFrom {
  position: absolute;
  bottom: 2%;
  font-size: 32px;
  color: rgba($light, 0.6);

  &:visited,
  &:focus,
  &:active {
    color: $light;
  }
}

#jumpTo {
  transform: translateY(-70px);

  @media ($laptop) {
    transform: translateY(-76px);
  }
}

.jump-item {
  transform: translateY(-70px);

  @media ($laptop) {
    transform: translateY(-76px);
  }
}
